{% extends 'base.html' %} <!-- We want it to base template but to populate info for home page inside -->

{% block title %} Home {% endblock %} <!-- inside of the title block, insert 'Home' -->

{% block content %} <!-- inside of the block content, insert 'Welcome to the Flask Jinja2 application' -->
<div class="flex items-center max-w-[1000px] h-[80vh] mx-auto">
    <div class="">
        <h1 class="font-bold text-[4rem]">Hi,</h1>
        <h1 class="font-bold text-[4rem]">I'm Alan</h1>
        <h1 class="font-bold text-[4rem]"><span class="text-blue-300">WEB</span> DESIGNER</h1>
        <a href="{{ url_for('about') }}" class="inline-block  bg-white hover:bg-blue-300 border-2 hover:border-transparent border-blue-300 text-blue-300 
        hover:text-white font-bold mt-4 py-3 px-4 rounded">About me</a>
    </div>
</div>
{% endblock %}