@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: #f9fafb;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
}

header a {
    text-decoration: none;
    color: #333;
}

nav a {
    margin-right: 15px;
}

nav a:hover {
    text-decoration: underline;
}

.create_user {
    max-width: 400px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    border-radius: 3px;
    padding: 17px 25px;
    background: #09458f;
    color: #f9fafb;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: #f9fafb;
    border: solid 2px #09458f;
    padding: 15px 23px;
    color: #09458f;
}

.user_list {
    margin: 30px auto;
    max-width: 1200px;
}

table {
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}
th {
    background-color: #09458f;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

.btn_green {
    padding: 10px 15px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}

.btn_red {
    padding: 10px 15px;
    background-color: red;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 3px;
}