{% extends "base.html" %}

{% block head %}
<title>Saved users</title>
{% endblock head %}

{% block body %}
<div class="user_list">
    <h3>Previous users</h3>
    <table border="1" cellpadding="8" cellspacing="1">
        <thead>
            <tr>
                <th>Name</th>
                <th>Age</th>
                <th>Hobby</th>
                <th>Remove user</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user.name }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.hobby }}</td>
                <td>
                    <button class="btn_red">Remove</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock body %}